snippet treelink
	[${1}](https://github.com/Masterminds/cookoo-web-tutorial/tree/${2:master})
snippet streelink
	[${1:master}](https://github.com/Masterminds/cookoo-web-tutorial/tree/$1)
snippet colink
	[git checkout ${1:master}](https://github.com/Masterminds/cookoo-web-tutorial/tree/$1)
snippet ledeimg
	<div class="pull-right img-responsive img-rounded" style="padding-left:7px" ><a href="/img/${1:placeholder.png}"><img class="img-polaroid" src="/img/$1"></a></div>
snippet dued
	# ${1:package}
	*Repository:*
	*Primary Language:*
	*Purpose:*

	## Licenses
	- [Apache License v2](http://www.apache.org/licenses/LICENSE-2.0):
	- [BSD 2-Clause](http://opensource.org/licenses/bsd-license.php):
	- [New BSD 3-Clause](http://dist.codehaus.org/janino/new_bsd_license.txt): Go
	- [MIT](http://opensource.org/licenses/MIT):
	- [Gnu GPL v2](http://www.gnu.org/licenses/gpl-2.0.txt):
	- [Gnu LGPL v2](http://www.gnu.org/licenses/lgpl.txt):

	## LOC

	

	## Trade Secret, Pre-Patent

	(none)
